@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

.mask{
    width: 100%;
    height: 101vh;
    position: relative;
    /* top: 0; */
}

.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.1;
}

.hero {
    height: 100%;
    width: 100%;
}

.hero .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    text-align:center;
}

.hero .content p{
    font-size: 2.2rem;
    font-weight: bold;
    /* margin-bottom: 1.2rem; */
    line-height: 45px;
    background-image:   linear-gradient(90deg, rgba(117,0,0,0.8407738095238095) 41%, rgba(0,0,0,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .content h1{
    margin-bottom: 1.8rem;
    /* padding: 0.1rem 0 0.7rem; */
    margin-bottom: 2rem;
    font-size: 4rem;
    /* font-family: cursive; */
    background-image:  linear-gradient(90deg, rgba(117,0,0,0.8407738095238095) 41%, rgba(0,0,0,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content .btn{
    margin: 1rem 0.3rem;
}

@media screen and (max-width:640px) {
    .hero .content p{
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    .hero .content h1{
       font-size: 2rem;
    }

    .hero .content {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        text-align:center;
    }
}


